[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ADP-huboss-admins
	owner = group CI_Infrastructure_ENM_admin
	read = group Registered Users
	read = group Replication_Gamma_Migration_DO_NOT_REMOVE
	read = group Replication_SEKI_ECN_DO_NOT_REMOVE
	read = group Replication_SELI_ECN_DO_NOT_REMOVE
	read = group aia_guard
	createTag = group aia_guard
	push = group aia_guard
	label-Code-Review = -2..+2 group Non_interactive
	label-Verified = -1..+1 group Non_interactive
	submit = group aia_guard
[project]
	description = ADP microservices and webdevelopment within PDU OSS
[access "^refs/heads/d.*"]
	create = group Registered Users
	push = group Registered Users
	pushMerge = group Registered Users
[access "^refs/for/refs/heads/master.*"]
	create = group Registered Users
	push = group Registered Users
[access "refs/heads/*"]
	label-Code-Review = +1..+1 group Registered Users
[plugin "data-owner"]
	DataOwner = QKEIDYN
	DataOwnerDepartment = BCSS BOS EN Engineering
[plugin "eiffel"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnames = false
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
